.App {
  color: red;
}

.navbar {
  position: sticky;
  inset: 0;
  display: grid;
  background-color: rgb(127, 102, 39);
  padding: 20px 65px;

  grid-template-columns: 1fr max-content;
}

.navTitle {
  font-size: 24px;
  font-weight: 700;
}

.link {
  color: black;
  font-weight: 500;

  &:hover {
    text-decoration: underline;
  }
}
